h1 {
    color:#908;
    font-size: 50px;
    font-style: oblique;
    text-align: center;
    width:fit-content;
    margin: auto;
}
h2 {
    color:#907;
    font-size: 30px;
    font-style: italic;
    text-align: left;
}
p {font-size: 20px;
    font-style: italic;
    text-align: left;
}


body{
    background-color: pink;
}

h1 {
    font-size: 40px ;
    font-style:oblique;
    text-align: center;
}
h3 {
    font-size: 30px ;
    color: #907;
    font-style:italic;
    text-align: left;
}


p {font-size: 20px;
    font-style: italic;
    text-align: left;
}


h4{font-size: 35px;
    font-style:italic;
    text-align: left;
    color: #907;

  

}

ol{
    font-size: 16px;
    font-style: italic;
    text-align: center;
    border-style:solid;
    border-radius: 80px;
    border-color: #908;
    width:fit-content;
    margin:center;
}
img{
    text-align: center;
    width: 300px;

}

a{
    text-decoration: none;
}
img{
    width: 300px;
    display: block;
    margin: auto;
}


div{
    font-size: 16px;
    font-style: normal;
    text-align: left;
    border-style:solid;
    border-radius: 20px;
    border-color: #908;
    width:fit-content;
    margin:left;
}

span{
    font-weight: bold;
    font-size: 19px;
    font-style: normal;
}

.filme{
    background-color:plum;
}

div{
    margin: 40px;
    background-image: url('img/Livro-Como-Eu-Era-Antes-de-Voce-Jojo-Moyes-1995575.webp');
    background-size:center;
    height: 40vw;
    background-attachment: fixed;

}

img{
    width: 300px;
    text-align: center;
}

.livro{
    background-color:plum;

}

h5{
    font-size: 25px;
    font-style:normal;
    text-align: left;
    color: #907;
 
 }

 a{
    font-size: 20px;
    font-style:normal;
    text-align: left;
    color:magenta;
 }
