h1 {
    color:#908;
    font-size: 50px;
    font-style: oblique;
    text-align: center;
}
h2 {
    color:#907;
    font-size: 30px;
    font-style: italic;
    text-align: left;
}
p {font-size: 20px;
    font-style: italic;
    text-align: left;
}


body{
    background-color: pink;
}

h1 {
    font-size: 50px ;
    font-style:oblique;
    text-align: center;
}
h2 {
    font-size: 30px ;
    font-style:italic;
    text-align: left;
}


p {font-size: 20px;
    font-style: italic;
    text-align: left;
}

h1{font-size: 20px;
    font-style:italic;
    text-align: left;
    color: #909;
    border-top: 2px solid #908;
    

}

ol{
    font-size: 16px;
    font-style: italic;
    text-align: left;
    border-radius: 25px;
    border-color: #908;
}

img{
    text-align: center;
}

a{
    text-decoration: none;
}
img{
    width: 600px;
    display: block;
    margin: auto;
}