h1 {
    color:#908;
    font-size: 50px;
    font-style: oblique;
    text-align: center;
    width:fit-content;
    margin: auto;
}
h2 {
    color:#907;
    font-size: 30px;
    font-style: italic;
    text-align: left;
}
p {font-size: 20px;
    font-style: italic;
    text-align: left;
}


body{
    background-color: pink;
}

h1 {
    font-size: 40px ;
    font-style:oblique;
    text-align: center;
}
h3 {
    font-size: 30px ;
    font-style:italic;
    text-align: left;
}


p {font-size: 20px;
    font-style: italic;
    text-align: left;
}


h4{font-size: 40px;
    font-style:italic;
    text-align: left;
    color: #909;

  

}

ol{
    font-size: 16px;
    font-style: italic;
    text-align: left;
    border-style:solid;
    border-radius: 25px;
    border-color: #908;
    width:fit-content;
    margin:left;
}
img{
    text-align: center;
}

a{
    text-decoration: none;
}
img{
    width: 600px;
    display: block;
    margin: auto;
}


div{
    font-size: 16px;
    font-style: normal;
    text-align: left;
    border-style:solid;
    border-radius: 25px;
    border-color: #908;
    width:fit-content;
    margin:left;
}

span{
    font-weight: bold;
    font-size: 19px;
    font-style: normal;
}