* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

header{
    height: 100px;
    background-color: blueviolet;
}

.menu {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.itemmenu{
    position: relative;
}

.itemmenu:hover .submenu {
    max-height: 100vh;
}

.subMenu {
    position: absolute;
    left: 10px;
    width: max-content;
    max-width: 0;
    background-color: aquamarine;
    overflow: hidden;
    border-radius: 5px;
    transition: 1s;
   
}

.linkmenu{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
   
}

.linkmenu:hover {
    color: blue;
    border: solid wheat;
    
}

.linksubmenu {
    font-size: 16px;
    font-size: 15px;
    margin: 20px;
    color:black;
    text-decoration: none;
}


.div1, .div2, .div3{

}

.div1{
    background-color: aquamarine;
}

.div2{
    background-color: rgb(112, 21, 231);
}

.div3{
    background-color: rgb(179, 34, 113);
}

@media (max-width: 600px){
    .div1, .div3{
        max-width: 200px;
    }
    .div2{
        display: none;
    }
}

@media (min-width: 601px){
    .div1{
        visibility: hidden;
    }
}