

h1{
    color:#908;
    font-size: 50px;
    font-style: oblique;
    text-align: center;
    width:fit-content;
    margin: auto;
    max-width: 60vh;
    min-width: 55vh;
    max-height:30vh;
    min-height:20vh;
}


h2 {
    color:#907;
    font-size: 30px;
    font-style: italic;
    text-align: left;
    margin-top:  100px ;
}


ol{
    font-size: 20px;
    font-style: italic;
    text-align: center;
    border-style:solid;
    border-radius: 25px;
    border-color: #908;
    width:fit-content;
    margin:center;
}


.div-card{
    display: flex;
    flex-wrap: wrap;
    border-style:solid;
    border-radius: 25px;
    border-color: #908;
}

.div-card{
    width: 30%;
    min-width: 280px;
    border-style:solid;
    border-radius: 25px;
    border-color: #908;

}

body{
    background-color: pink;
}